@media screen and (max-width: 660px) {
  .section{
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 7px white solid;
  }
  
  .section p{
    font-size: 2vw;
  }

  .section{
    flex-direction: column-reverse;
    }

    .image-container{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .image-container img{
      height: 80%;
      width: auto;
    }

    .text-container{
      height: 50%;
      color: #ffffff;
      text-align: center;
      width: 90%;
      padding: 50px;
    }
  
}