@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  background: #0f1523;
  color: white;
  opacity: 1.2;
  background-image: linear-gradient(#141d31 1px, transparent 1px),
    linear-gradient(to right, #162036 1px, #0f1523 1px);
  background-size: 60px 60px;
}

html {
  scroll-behavior: smooth;
}

.nav-title img{
  padding: 15px;
}
.nav-links a{
  padding: 15px;
}

.nav {
  height: 50px;
  width: 100%;
  position: absolute;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

body {
  margin-bottom: 50px;
}

.bottom-bar {
  border-top: 2px grey solid;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.bottom-bar__text {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav > #nav-check {
  display: none;
}

.bottom-bar__text a {
  color: #efefef;
  display: inline;
  float: right;
  font-size: 18px;
  text-decoration: none;
}

.progress-container {
  position: fixed;
  width: 100%;
  height: 2px;
  background: white;
}

.progress-bar {
  height: 8px;
  background: #feb902;
  width: 0%;
}

.text-img {
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}

.text-container {
  color: #ffffff;
  text-align: center;
  width: 60%;
}


.text-container p {
  line-height: 1.8;
  font-size: 2.5vh;
}

.text-container2 {
  color: #ffffff;
  text-align: center;
  width: 90%;
  padding: 50px;
  line-height: 1.8;
  max-height: 100%;
}

.text-container2 p {
  line-height: 2;
  font-size: 2.5vh;
}

.img-container {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 40%;
  height: 100%;
  padding: 50px;
}

.img-container img {
  height: auto;
  max-width: 100%;
}



.section {
  border: 2px white solid;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
  }
  to {
    opacity: 1;
  }
}
.fade {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.fade.fadeOne {
  animation-delay: 0.3s;
  color: #feb470;
  font-size: 70px;
}

.fade.fadeTwo {
  animation-delay: 0.7s;
  font-size: 40px;
}

.fade.fadeThree {
  animation-delay: 1.2s;
  font-size: 40px;
}
.fade.fadeThree span {
  font-size: 0.8rem;
}
